.Button{
	margin-top: 10%;
	margin-right: 35%;
	margin-left: 45%;
	margin-bottom: 10%;
	border-color: rgb(144, 225, 122);
	background-color: rgb(144,225,122);
}

.Input{
	border-color: rgb(144, 225, 122); 
	background-color: rgb(144,225,122);
}
#TotalButton {
	position: fixed;
	top: 80%;
	left: 80%;
}