
/*  Syuzi_Nara */
body {	padding: 0%; 
        font-size: 100%;
}
div#kanach img{
position: fixed;
top: 21%;
left: 0%;
right: 0%;
bottom: 0%;
height: 79%;
width: 100%;
z-index: -4;
}	
div#logo img {
width: 10%;
height: 18%;
margin-left: 5%;
position: fixed;
}
div#expenditure {
	position: fixed;
    	top: 69.3%;
    	right: 6%;
}
input.InputButton {
	background-color: #90e17a;
	border-style: ridge;
	border-color: #000000;
	text-align: center;
}
div#sizeOfDiv {
     	margin-left: 22%;
     	margin-right: 22%;
}
select.lengthOfButton { 
   	width:80%;
} 
select.lengthOfButton1 {
	width: 50%;
}
form.amountParticipants {
	margin: auto 30% 2% 15%;
	padding: 10%;
	width: 50%;
}
form.amountParticipants1 {
        margin: auto 30% 2% 15%;
        padding: 2%;
        width: 50%;
}	
input#general {
	padding: 28% 2% 15% 1%;
}
label#participants {
	position: absolute;
	float: right;
	size: 3%;
}
input.mass {
	text-align: right;
	width: 30%;
}
input.mount {
	width: 35%;
	text-align: right;
}
.inputParticipants {
	float: right;
	margin-left: 6%;
}
table#barbecue
{
    	margin-left: 6%;
}
table#barbecue td, tr {
	padding: 0% 0% 0% 0%;
}
/*AUTHOR:Ashot_Erik */
#googleMap {
	width: 90%; height:50%;
}
/* Ashot */
 ul#glkhawor_meny li {
	display: inline;
	list-style: none;
	margin-bottom:"text-align:center";
}
ul#glkhawor_meny li button {
	background-color: #90e17a;
	color: #000000;
	padding: 1.5% 2%;
	text-decoration: none;
	border-radius: 10%;
	border-style: solid;
	border-color: #90e17a;
	border-width: 5%;
	margin-bottom: 0%;
	margin-right: 0.5%;
}
ul#chashacank li {
	display: inline;
	list-style: none;
}
ul#chashacank li button {
	background-color: #90e17a;
	color: #000000;
	padding: 1% 2%;
	text-decoration: none;
	border-radius: 10%;
	border-style: solid;
	border-color: #90e17a;
	border-width: 3%;
	margin-bottom: 0%;
}
 li {
	display: inline;
	list-style: none;
}
li button {
	background-color: #90e17a;
	color: #000000;
	padding: 1% 2%;
	text-decoration: none;
	border-radius: 10%;
	border-style: solid;
	border-color: #90e17a;
	border-width: 3%;
	margin-bottom: 0%;
}
div#d1 {
	width: auto;
	height: 90%;
	margin: auto;
	padding: 20% 0% 0% 6%;
	display: none;
}
div#d2 {
	width: auto;
	height: 90%;
	margin: auto;
	display: none;
}
table.margin_barbecue {
	margin-left: auto;
	margin-right: auto;
	padding: 6% 0% 0% 0%;
}
table.margin_drink {
	margin-left: auto;
	margin-right: auto;
	padding: 7% 0% 0% 0%;
}
table.margin_vegetable {
	margin-left: auto;
	margin-right: auto;
	padding: 7% 0% 0% 0%;
}
table#margin_desert {
	margin-left: auto;
	margin-right: auto;
	padding: 7% 0% 0% 0%;
}
div#d_2_2_tabs {
	display: none;
}
div#d_2_3_tabs {
	display: none;
}
div#d_2_4_tabs {
	display: none;
}
div#d_2_1 {
	margin: center;
}
div#d_2_2 {
	margin: center
}
div#d_2_3 {
	margin: center;
}
div#d_2_4 {
	margin: center;
}
div#d3 {
	height: 90%;
	display: none;
	padding: 0% 0% 0% 10%;
}
table.margin_overnight {
	margin-left: auto;
	margin-right: auto;
	padding: 50% 5% 0% 0%;
}
div#d4 {
	height: 90%;
	display: none;
	padding: 0% 0% 0% 10%;
}
table.margin_accessories {
	margin: 0% 5% !important;
	padding: 6% 0% 0% 0%;
}
div#d {
	width: auto;
	height: 90%;
	margin: auto ;
	padding: 28% 0% 0% 9%;
}

/* Armine */
.noneBorder {
	border: 0%;
}

input.totalNoneBorder {
	border: 0%; 
	background-color:#cda373;
	border-style: solid;
	border-color:#cda373;
}
table#TransportCosts,tr,td {
	margin: 0% 0% 4% 17%;
}

/* Armine ToolTip */
div.toolTip{
	position: absolute; 
	width: 15%;  /* ширина всплывающего окна */
	border: solid red 3px; /* цвет и толщина рамки окна*/
	display: none; 
	z-index: 10; 
	overflow: hidden;
	background-color:#90e17a; /* цвет фона внутри окна, стоит белый */
	color:#000000; /* цвет текста внутри окна, стоит чёрный */
	text-align:center; /* выравнивает весь текст в окне по центру */
	padding: 0.5%;
	left: 15%;
        top: 8%;
}
/*inheritance of class toolTip */
div.extra toolTip{
	left: inherit; 
} 

td#toolTipComment {
	padding: 0% 3% 0% 3%;
	color: black;
    /* цвет кнопки закрыть #A0A050 можете вставить свой */

 /*   font-family: ;*/
	font-size: 10%;
 	color: #ffffff;
	font-weight: bold;
}

div#clouds { 
	position: absolute; 
	top: 0%;
	left: 0%; 
	width: 100%; 
	height: 13%; 
	background: url("clouds1.png");
	z-index: -2; 
	opacity: 0.5;
	background-position: left;
	-webkit-animation: mymove 60s infinite; /* Chrome, Safari, Opera */
    animation: mymove 60s infinite;
}

@-webkit-keyframes mymove {
    100% { background-position: right;} 
}

@keyframes mymove {
    100% {background-position: right;} 
}

div#sky { 
	position: absolute; 
	top: 0;
	left: 0; 
	width: 100%; 
	height: 23%;
	background: url("sky_bg.jpg");
    	z-index: -3;
	opacity: 0.5;
	background-position: right; 
	-webkit-animation: mySkymove 60s infinite; /* Chrome, Safari, Opera */
    animation: mySkymove 60s infinite;
    
}

@-webkit-keyframes mySkymove {
    100% { background-position: left;} 
}

@keyframes mySkymove {
    100% {background-position: left;} 
}

div.close_sign { 
  	font-size: 20px;
  	font-weight: bold;
  	line-height: 18px;
  	color: black;
  	filter: alpha(opacity=200);
  	text-decoration: none;

}
div.close_sign:hover{
  	text-decoration: none;
  	opacity: 14;
  	filter: alpha(opacity=400);
  	cursor: pointer;
  	color: white; 
  	background-color: red;
  	border-radius:50%; 
}

.noneBorder {
 	text-align: right;
}

