
/*  Syuzi_Nara */
body {	margin: 0%;
      	font-size: 100%;
        background-image: url(z4.jpg );
	background-repeat: no-repeat;
/*   	background-size: auto 100%;*/
}
#img{
box-shadow: 10px 10px 5px #222222;
}
div#expenditure {
	position: fixed;
    top: 83%;
    right: 6%;
}
input#general {
	padding: 28% 2% 0% 1%;
}
input.InputButton {
	background-color: #f0ddb5;

}
 p.one{
    text-indent: 5px;
    border-style: solid;
    border-width: 10px;
    padding: 5px;
    margin: 5px; 
    font-size:30px;
    color:green;
}
div#sizeOfDiv {
    /* border-style: solid;
     border-width: 10px;
     border: 10px solid;
     border-color: green;*/
     margin-left: 22%;
     margin-right: 22%;
}
img {
     background-color: no-repeat;
     background-position: center top;
     margin-left: 6%;
     height: 320px;
     width: 90%;
     
           
    } 
select.lengthOfButton
{ 
   width:100px;
}  
form.amountParticipants {
	margin: auto 30% 2% 15%;
	padding: 20px;
	width: 460px;
}
label#participants {
	position: absolute;
	float: right;
	size: 3%;
}
input.mass {
width: 30%;
}
input.mount {
width: 30%;
}
.inputParticipants {
	float: right;
	margin-left: 6%;
}
table#barbecue
{
    margin-left: 6%;
}
table#barbecue td, tr {
	padding: 0px 15px 0px 5px;
}
/*AUTHOR:Ashot_Erik */
#googleMap {width: 500px; height:380px;}
/* Ashot */
 ul#glkhawor_meny li {
display: inline;
list-style: none;
margin-bottom:"text-align:center";
}
ul#glkhawor_meny li button {
background-color: #f0ddb5;
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 8px;
margin-bottom: -50px;
margin-right: 5px;
}


 ul#chashacank li {
display: inline;
list-style: none;
}
ul#chashacank li button {
background-color: #f0ddb5;
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 8px;
margin-bottom: -25px;
}
 li {
display: inline;
list-style: none;
}
li button {
background-color: #f0ddb5;
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 8px;
margin-bottom: -25px;
}
div#d1 {
width: auto;
height: 650px;
margin: auto;
/*background-color: #FFFF99;*/
background-image: url(nastol1.jpg ) ;
padding: 0% 0% 0% 6%;
}
div#d2 {
width: auto;
height: 750px;
margin: auto;
/*background-color: #FFFF66;*/
background-image: url(nastol1.jpg ) ;
display: none;
}
table.margin_barbequ {
margin-left: auto;
margin-right: auto;
}
table.margin_drink {
margin-left: auto;
margin-right: auto;
}
table.margin_vegetable {
margin-left: auto;
margin-right: auto;
}
table#margin_desert {
margin-left: auto;
margin-right: auto;
}
div#d_2_2_tabs {
display: none;
}
div#d_2_3_tabs {
display: none;
}
div#d_2_4_tabs {
display: none;
}
div#d_2_1 {
margin: center;
}
div#d_2_2 {
margin: center
}
div#d_2_3 {
margin: center;
}
div#d_2_4 {
margin: center;
}
div#d3 {
height: 565px;
/*background-color: #CCFF66;*/
background-image: url(nastol1.jpg );
display: none;
padding: 0% 0% 0% 15%;
}
table.margin_overnight {
margin: 0% 5% !important;
}
div#d4 {
height: 565px;
/*background-color: #CCFF99;*/
background-image: url(nastol1.jpg );
display: none;
padding: 0% 0% 0% 15%;
}
table.margin_accessories {
margin: 0% 5% !important;
}
div#d {
width: auto;
height: 315px;
/*background-color: #CCFFCC;*/
background-image: url(nastol1.jpg );
display: none;
margin: auto ;
padding: 28% 0% 0% 9%;
}

/* Armine */
.noneBorder {
	border: 0px;
    background-color: #f0ddb5;
}

input.totalNoneBorder {
	border: 0px; 
/*	background-color:#E0E0E0;*/
background-color:#f0ddb5;
}
table#TransportCosts,tr,td {
	margin: 0% 0% 4% 17%;
}
