/*  Syuzi_Nara */
body { margin: 5px;
}
 p.one {
    text-indent: 5px;
    border-style: solid;
    border-width: 10px;
    padding: 35px;
    margin: 15px; 
    font-size:30px;
}
.two {
     border-style: solid;
     border-width: 10px;
     border-color: green;
     height: 780px;
     margin-left: 300px;
     margin-right:300px
}
p { color:green}
ul#menu {
    padding: 20px 100px;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}


/* Arman_Armine */
form {
	margin: 200px 400px;
	padding: 10px;
	width: 460px;
	height: 200px;
}
label {
	position: absolute;
	float: right;
}
input[type = "number"] {
	float: right;
	margin-left: 200px;
}




