/*  Syuzi_Nara */
body { margin: 2%;
       font-size: 100%;
}
 p.one {
    text-indent: 5px;
    border-style: solid;
    border-width: 10px;
    padding: 5px;
    margin: 5px; 
    font-size:30px;
    color:green;
}
.two {
     border-style: solid;
     border-width: 10px;
     border-color: green;
     height: 100%;
     margin-left: 15%;
     margin-right: 15%;
}

ul#menu {
    padding: 1% 2%;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}
img {
     background-color: no-repeat;
     background-position: right top;
     margin-left: 1300px;
           
    } 

h4
{
   margin-left: 40px;
} 

/* Arman_Armine */
h2 
{
    text-shadow: 2px 2px 3px slategray;
    color: darkred;
    text-align: center;
}
form#amountParticipants {
	margin: auto 30% 15% 15%;
	padding: 20px;
	width: 460px;
	height: 200px;
}
label#participants {
	position: absolute;
	float: right;
}
.inputParticipants {
	float: right;
	margin-left: 5%;
}
table#barbecue
{
    margin-left: 16%;
}
table#barbecue td, tr {
	padding: 0px 25px;
}
/*AUTHOR:Ashot_Erik */
#googleMap {width: 500px; height:380px;}
h3 
{
    text-shadow: 2px 2px 3px slategray;
    color: darkred;
    text-align: center;
}
