/*  Syuzi_Nara */
body {	margin: 2%;
      	font-size: 100%;
	background-color: #FFE4B5;	
}
 p.one {
    text-indent: 5px;
    border-style: solid;
    border-width: 10px;
    padding: 5px;
    margin: 5px; 
    font-size:30px;
    color:green;
}
div#sizeOfDiv {
     border-style: solid;
     border-width: 10px;
     border: 10px solid;
     border-color: green;
     margin-left: 22%;
     margin-right: 22%;
}
img {
     background-color: no-repeat;
     background-position: right top;
     margin-left: 1300px;
           
    } 
select#lengthOfButton
{ 
   width:100px;
}  
form.amountParticipants {
	margin: auto 30% 2% 15%;
	padding: 20px;
	width: 460px;
}
label#participants {
	position: absolute;
	float: right;
	size: 3%;
}
input.mass {
width: 40%;
}
.inputParticipants {
	float: right;
	margin-left: 6%;
}
table.margin
{
    margin-left: 10%;
}
 td {
	padding: 10px 0px 0px 0px;
}
/*AUTHOR:Ashot_Erik */
#googleMap {width: 500px; height:380px;}
h3 
{
    text-shadow: 2px 2px 3px slategray;
    color: darkred;
    text-align: center;
}


/* Ashot */
 ul#glkhawor_meny li {
display: inline;
list-style: none;
margin-bottom:"text-align:center";
}
ul#glkhawor_meny li button {
background-color: #E0FFFF;
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 8px;
margin-bottom: -50px;
margin-right: 5px;
}


 ul#chashacank li {
display: inline;
list-style: none;
}
ul#chashacank li button {
background-color: #E0FFFF;
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 8px;
margin-bottom: -25px;
}
 li {
display: inline;
list-style: none;
}
li button {
background-color: #E0FFFF;
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 8px;
margin-bottom: -25px;
}
div#d1 {
width: auto;
height: 700px;
margin: auto;
background-color: #E0FFFF;
}
div#d2 {
width: auto;
height: 100%;
margin: auto;
background-color: #E0FFFF;
display: none;
}
div#d3 {
width: auto;
height: 500px;
background-color: #E0FFFF;
display: none;
margin: auto;
}
div#d3_1 {
margin-left: 22%;
}
div#d4 {
width: auto;
height: 500px;
background-color: #E0FFFF;
display: none;
margin: auto ;
}
div#d4_1 {
margin-left: 10%; 
}
div#d {
width: auto;
height: 500px;
	background-color: #E0FFFF;
display: none;
margin: auto ;
}
