/*  Syuzi_Nara */
body { margin: 5px;
}
 p.one {
    text-indent: 5px;
    border-style: solid;
    border-width: 10px;
    padding: 35px;
    margin: 15px; 
    font-size:30px;
}
.two {
     border-style: solid;
     border-width: 10px;
     border-color: green;
     height: 780px;
     margin-left: 250px;
     margin-right:250px
}
p { color:green}
ul#menu {
    padding: 20px 70px;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}


/* Arman_Armine */
form#amountParticipants {
	margin: 100px 400px 400px 350px;
	padding: 10px;
	width: 460px;
	height: 200px;
}
label#participants {
	position: absolute;
	float: right;
}
.inputParticipants {
	float: right;
	margin-left: 20px;
}
/*AUTHOR:Ashot_Erik */
 #transport {margin-left: 400px;}
 #start {margin-left: 53px;}
 #time  {margin-left: 140px;}
 #finish {margin-left: 35px;}



