/*  Syuzi_Nara */
body { margin: 2%;
       font-size: 100%;
}
 p.one {
    text-indent: 5px;
    border-style: solid;
    border-width: 10px;
    padding: 3%;
    margin: 2%; 
    font-size:180%;
}
.two {
     border-style: solid;
     border-width: 10px;
     border-color: green;
     height: 100%;
     margin-left: 15%;
     margin-right: 15%;
}
p { color:green}
ul#menu {
    padding: 2% 3%;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}
img {
     background-color: no-repeat;
     background-position: right top;
     margin-left: 1520px;
           
    } 

/* Arman_Armine */
form#amountParticipants {
	margin: 0% 40% 10% 12%;
	padding: 0%;
	width: 70%;
	height: 20%;
}
label#participants {
	position: absolute;
	float: right;
}
.inputParticipants {
	float: right;
	margin-left: 5%;
}
/*AUTHOR:Ashot_Erik */
 #transport {margin-left: 12%;}
 #start {margin-left: 49% ;}
 #time  {margin-left: 58.5%;}
 #finish {margin-left:63%;}



