/*  Syuzi_Nara */
body { margin: 2%;
       font-size: 100%;
}
 p.one {
    text-indent: 5px;
    border-style: solid;
    border-width: 10px;
    padding: 5px;
    margin: 5px; 
    font-size:30px;
    color:green;
}
div#sizeOfDiv {
     border-style: solid;
     border-width: 10px;
     border: 10px solid;
     border-color: green;
     margin-left: 22%;
     margin-right: 22%;
}

ul#menu {
    padding: 1% 2%;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}
img {
     background-color: no-repeat;
     background-position: right top;
     margin-left: 1300px;
           
    } 

h4
{
    margin-left: 200px;
    text-shadow: 2px 2px 3px slategray;
    color: darkred;
}
table#drinkable
 { 
   margin-left: 16px;
}   

table#drinkable td, tr {
        padding: 0px 25px;
        size: 10px;
}
select#lengthOfButton
{ 
   width:100px;
}  
/* Author: Arman_Armine */
h2 
{
    text-shadow: 2px 2px 3px slategray;
    color: darkred;
    text-align: center;
}
form#amountParticipants {
	margin: auto 30% 2% 15%;
	padding: 20px;
	width: 460px;
}
label#participants {
	position: absolute;
	float: right;
	size: 3%;
}
input#mass {
width: 30%;
}
.inputParticipants {
	float: right;
	margin-left: 6%;
}
table#barbecue
{
    margin-left: 16%;
}
table#barbecue td, tr {
	padding: 0px 15px 0px 5px;
}
/*AUTHOR:Ashot_Erik */
#googleMap {width: 500px; height:380px;}
h3 
{
    text-shadow: 2px 2px 3px slategray;
    color: darkred;
    text-align: center;
}


/* Ashot */
 ul#glkhawor_meny li {
display: inline;
list-style: none;
margin-bottom:"text-align:center";
}
ul#glkhawor_meny li button {
background-color: #87ceeb;
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 8px;
margin-bottom: -50px;
margin-right: 5px;
}


 ul#chashacank li {
display: inline;
list-style: none;
}
ul#chashacank li button {
background-color: #87ceeb;
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 8px;
margin-bottom: -25px;
}
ul#xmichq li {
display: inline;
list-style: none;
}
ul#xmichq li button {
background-color: #87ceeb;
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 8px;
margin-bottom: -25px;
}
 ul#alkaholayin li {
display: inline;
list-style: none;
style = "text-align:center"
}
ul#alkaholayin li button {
background-color: #87ceeb;
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 8px;
margin-bottom: -25px;
style = "text-align:center"
}
ul#bnakan li {
display: inline;
list-style: none;
}
ul#bnakan li button {
background-color: #87ceeb;
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 8px;
margin-bottom: -25px;
}
ul#desert li {
display: inline;
list-style: none;
}
ul#desert li button {
background-color: #87ceeb;
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 8px;
margin-bottom: -25px;
}
div#d1 {
width: auto;
height: 700px;
margin: auto;
background-color: #87ceeb;
}
div#d2 {
width: auto;
height: 650px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_1 {
width: auto;
height: 600px;
margin-left: 180px;
background-color: #87ceeb;
}
div#d2_2 {
width: auto;
height: 600px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_3 {
width: auto;
height: 600px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_3_1 {
height: 400px;
margin-left: 200px;
} 
div#d2_4 {
width: auto;
height: 600px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_5 {
width: auto;
height: 600px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_2_1 {
width: auto;
height: 500px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_2_1_1 {
width: auto;
height: 500px;
margin-left: 400px;
background-color: #87ceeb;
display: none;
}
div#d2_2_1_2 {
width: auto;
height: 500px;
margin-left: 400px;
background-color: #87ceeb;
display: none;
}
div#d2_2_1_3 {
width: auto;
height: 500px;
margin-left: 400px;
background-color: #87ceeb;
display: none;
}
div#d2_2_1_4 {
width: auto;
height: 500px;
margin-left: 400px;
background-color: #87ceeb;
display: none;
}
div#d2_2_2 {
width: auto;
height: 500px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_2_2_1 {
width: auto;
height: 500px;
margin-left: 350px;
background-color: #87ceeb;
display: none;
}
div#d2_2_2_2 {
width: auto;
height: 500px;
margin-left: 420px;
background-color: #87ceeb;
display: none;
}
div#d2_2_2_3 {
width: auto;
height: 500px;
margin-left: 420px;
background-color: #87ceeb;
display: none;
}
div#d2_3 {
width: auto;
height: 600px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_4 {
width: auto;
height: 600px;
margin: auto;
background-color: #87ceeb; 
display: none;
}
div#d2_4_1 {
width: auto;
height: 600px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_4_2 {
width: auto;
height: 600px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_4_3 {
width: auto;
height: 600px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_4_4 {
width: auto;
height: 600px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_5 {
width: auto;
height: 600px;
margin: auto;
background-color: #87ceeb;
display: none;
}
div#d2_5_1 {
height: 200px;
margin-left: 410px;
} 
div#d3 {
width: auto;
height: 600px;
background-color: #87ceeb;
display: none;
}
div#d3_1 {
height: 400px;
margin-left: 180px;
}
div#d4 {
width: auto;
height: 600px;
background-color: #87ceeb;
display: none;
}
div#d4_1 {
height: 600px;
margin-left: 100px;
}
div#d2_4_a {
margin-left: 200px;
}
div#d2_4_b {
margin-left: 200px;
}
div#d2_4_c {
margin-left: 400px;
}
div#d2_4_d {
margin-left: 400px;
height:300px;
}  
